* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Faustina", serif;
}

/*This is Main Section*/

.mainSection {
  /*This is styling the Main Section*/
  width: 100%;
  height: 650px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bee9e8;
}

.icons {
  /*This is styling the Icon Section*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.icons img {
  /*This is styling the Icons*/
  width: 50px;
  height: 50px;
}

.title h1 {
  /*This is styling the Title*/
  color: #bee9e8ed;
  font-size: 150px;
}

.title {
  /*This is styling the Title Section*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan ul {
  /*This is styling the Slogan Section*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style: none;
  font-size: 20px;
}

/*This is the BodySection*/

.bodySection {
  /*This is styling the BodySection*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.description1 {
  /*This is styling Description One*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #1b4965;
  gap: 20px;
}

.pokemonDescription1 h1 {
  /*This is styling Description One H1*/
  font-size: 30px;
  margin-bottom: 20px;
  width: 500px;
}

.pokemonDescription1 p {
  /*This is styling Description One P Tag*/
  width: 500px;
  font-size: 23px;
}

.description1 img {
  /*This is styling Description One Image*/
  width: 500px;
  height: 300px;
  border-radius: 20px;
}

.description2 {
  /*This is styling Description Two*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #1b4965;
  gap: 30px;
  margin-top: 50px;
  overflow: auto;
}

.pokemonDescription2 h1 {
  /*This is styling Description Two H1*/
  font-size: 30px;
  margin-bottom: 20px;
}

.pokemonDescription2 p {
  /*This is styling Description Two P Tag*/
  width: 500px;
  font-size: 23px;
  padding-right: 15px;
}

.description2 img {
  /*This is styling Description Two Image*/
  width: 500px;
  height: 300px;
  border-radius: 20px;
  padding-left: 15px;
}

/*This is the optionsSection*/

.optionsSection {
  /*This is styling the OptionsSection*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.options {
  /*This is styling Options*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 700px;
  gap: 40px;
}

.options img {
  /*This is styling Options Images*/
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.options h4 {
  /*This is styling Options h4 Elements*/
  color: #1b4965;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.options p {
  /*This is styling Options P tags*/
  color: #1b4965;
  font-size: 18px;
  cursor: pointer;
}

.options p:hover {
  /*This is styling Options p tags when hovering over them */
  color: #000000;
}

.seeMore h4 {
  /*This is styling SeeMore section in OptionsSection*/
  font-size: 30px;
  cursor: pointer;
}

.seeMore h4:hover {
  /*This is styling SeeMore h4 element when hovering over it */
  color: #000000;
}

/*This is QandA Section*/

.qaSection {
  /*This is styling qaSection*/
  width: 100%;
  margin-top: 90px;
}

.qaSection h1 {
  /*This is styling qaSection H1 element*/
  font-size: 40px;
  padding-left: 100px;
  margin-bottom: 30px;
}

.qa {
  /*This is styling qa Div*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.question1 {
  /*This is styling question One*/
  padding-left: 100px;
}

.question3 {
  /*This is styling question Three*/
  padding-right: 50px;
}

.question1,
.question2,
.question3 {
  /*This is styling question One, Two and Three*/
  width: 700px;
}

.qa h4 {
  /*This is styling qa H4 element*/
  margin-bottom: 15px;
  font-size: 20px;
}

.qa p {
  /*This is styling qa P tags*/
  font-size: 16px;
  color: #1b4965;
}

.qa a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.continueReading {
  /*This is styling ContinueReading Div*/
  margin-top: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.continueReading:hover {
  /*This is styling ContinueReading Div when we hover over it*/
  color: #000000;
}

/*This is Footer Section*/

.footerSection {
  /*This is styling the Foother Section*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(160, 155, 155);
  margin-top: 50px;
  margin-bottom: 20px;
}

.footerIcons {
  /*This is styling the Icons in Foother Section*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.fa-brands {
  /*This is styling the Icons in Foother Section*/
  font-size: 40px;
  margin-bottom: 10px;
}

.copyRight p {
  /*This is styling the Copy Right div in Foother Section*/
  font-size: 18px;
}

/*Mobile View Section*/
@media (max-width: 768px) {
  /*This is Main Section*/
  .mainSection {
    width: 110%;
    height: 100vh;
  }

  .icons img {
    /*This is styling the Icons*/
    width: 20px;
    height: 20px;
  }

  .title h1 {
    /*This is styling the Title*/
    font-size: 50px;
  }

  .slogan ul {
    /*This is styling the Slogan Section*/
    font-size: 12px;
  }

  /*This is Body Section*/
  .bodySection {
    width: 425px;
    height: 100vh;
  }

  .description1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 380px;
    padding-left: 30px;
  }

  .pokemonDescription1 h1 {
    /*This is styling Description One H1*/
    font-size: 22px;
    width: 380px;
  }

  .pokemonDescription1 p {
    /*This is styling Description One P Tag*/
    width: 380px;
    font-size: 20px;
  }

  .description1 img {
    width: 300px;
    height: 200px;
  }

  .description2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
  }

  .pokemonDescription2 h1 {
    /*This is styling Description One H1*/
    font-size: 22px;
    width: 380px;
  }

  .pokemonDescription2 p {
    /*This is styling Description One P Tag*/
    width: 380px;
    font-size: 20px;
  }

  .description2 img {
    width: 300px;
    height: 200px;
  }

  .footerSection {
    margin-bottom: 20px;
  }
}

/*This is Collection Section*/
.collectionPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b4965;
  width: 100%;
  height: 100%;
}

.collectionBody {
  /*This is styling Collection Body*/
  width: 100%;
  height: 100%;
}

.navSection {
  /*This is styling Nav Section */
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav input {
  /*This is styling Nav Input */
  height: 35px;
  width: 250px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid;
  padding-left: 5px;
}

.nav button {
  /*This is styling Nav Button*/
  height: 35px;
  width: 100px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid;
  padding-left: 5px;
}

.nav button:hover {
  /*This is styling Nav Button when hovering over it*/
  cursor: pointer;
  background-color: #bee9e8;
}

.randomPokemon {
  /*This is styling 20 pokemons page*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pokemonCard {
  /*This is styling the Pokemons Card */
  width: 300px;
  height: 270px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.imageDiv {
  /*This is styling Pokemons Images Div*/
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(173, 155, 155);
  margin-bottom: 10px;
}

.imageDiv:hover {
  /*This is styling Pokemons Images Div when we hover over them */
  cursor: pointer;
  background-color: #ecdcdc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.imageDiv img {
  /*This is styling the Images*/
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.pokemonName {
  /*This is styling the Names of the Pokemons*/
  text-transform: capitalize;
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
}

.pokemonName h4:hover {
  /*This is styling the Pokemons Names when we hover over them*/
  color: #1a535c;
  cursor: pointer;
}

.popupSection {
  /*This is styling the Popup Pokemon Section*/
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.pokemonOuterSection {
  background-color: #ffe164;
  width: 330px;
  height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.pokemonImageDiv {
  /*This is styling Pokemons Images Div*/
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(173, 155, 155);
  margin-bottom: 10px;
}

.popupPokemonCard {
  /*This is styling Popup Pokemon Card*/
  width: 300px;
  height: 450px;
  background-color: #eeeeee;
  border-radius: 10px;
}

.nameAndHP {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemonhp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  gap: 5px;
}

.pokemonAbilities {
  text-transform: capitalize;
  font-size: 18px;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.pokemonImageDiv img {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 150px;
  width: 270px;
  border: 5px solid #d1cbc4;
  background-color: #90e0ef;
}

.ability1 {
  /*This is styling Pokemon Ability One*/
  background-color: #ff6b6b;
  width: 30%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.ability2 {
  /*This is styling Pokemon Ability Two*/
  background-color: #4ecdc4;
  width: 40%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.powerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonPower {
  background-color: #f9dcc4;
  height: 160px;
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.attack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 10px;
  font-size: 20px;
}

.attackDiv {
  background-color: #e63946;
  width: 200px;
}

.attack img {
  width: 35px;
  height: 35px;
}

.shield {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 20px;
  font-size: 20px;
}

.shield img {
  width: 35px;
  height: 35px;
}

.speed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 20px;
  font-size: 20px;
}

.speed img {
  width: 35px;
  height: 35px;
}
